<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html>
<head>
<title>Rezare Coffee Order Admin Page</title>
</head>
<body>

<h1>Check staff presence in office and order Coffees!</User></h1>
<!-- <form action="">
    <select name="beverage">
      <option value="hc">Hot Chocolate</option>
      <option value="fw">Flat White</option>
      <option value="lb">Long Black</option>
      <option value="la">Latte</option>
      <option value="mo">Mochaccino</option>
      <option value="tfw">Trim Flat White</option>
      <option value="ct">Chai Trim</option>
      <option value="ca">Cappachino</option>
      <option value="na">None</option>
    </select>
    <br><br>
    <input type="submit">
  </form> -->
<br style="line-height: 80px;">
  <table style="width:100%">
        <tr>
          <th>Name</th>
          <th>Coffee</th> 
          <th>Options</th>
          <th>Add to Order?</th>
        </tr>
        <tr>
          <td>Janine</td>
          <td>Mochaccino</td>
          <td>Sugar - 1</td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Paula</td>
            <td>Flat White</td>
            <td>Large</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Daniel</td>
            <td>Long Black</td>
            <td>Extra Shots</td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
                <td>Victor</td>
                <td>Hot Chocolate</td>
                <td>Marshmellos</td>
                <td><input type="checkbox"></td>
        </tr>
        <tr>
                <td>Vivek</td>
                <td>Latte</td>
                <td></td>
                <td><input type="checkbox"></td>
        </tr>
      </table>    
</body>
</html>
  <router-outlet></router-outlet>