<!--The content below is only a placeholder and can be replaced.-->
<div>
    <img width="100%" alt="Coffee" src="assets/images/steamingcoffee.gif" class="w3-opacity">
    <div class="w3-display-topleft w3-container">
      <div class="w3-bar" style="text-align: right;">
        <button class="w3-bar-item w3-button" type="button">
           </button>
          <button *ngIf="isLoggedIn" class="w3-bar-item w3-button">Log Out</button>
          <button *ngIf="!isLoggedIn" class="w3-bar-item w3-button">Log In</button>
      </div>
    </div>
        <div class="w3-display-topmiddle w3-container">
  <h1>
   Rezare Coffee App
  </h1>
 </div>
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <img alt="Rezare" src="assets/images/RezareLogo.png">
</div>

