<!--The content below is only a placeholder and can be replaced.-->
<div>
 <img width="100%" alt="Coffee" src="assets/images/steamingcoffee.gif" class="w3-opacity back">
  <div class="w3-display-topleft w3-container">
    <div class="w3-bar" style="text-align: right;">
        <a class="w3-bar-item w3-button" href="/">Home</a>
        <span class="w3-bar-item">{{userName}}</span>
        <a class="w3-bar-item w3-button" href="/list">Print Out</a>
        <button *ngIf="isLoggedIn" class="w3-bar-item w3-button" (click)="logOut()">Log Out</button>
        <button *ngIf="!isLoggedIn" class="w3-bar-item w3-button" (click)="logIn()">Log In</button>
    </div>
  </div>
  <div class="w3-display-topmiddle w3-container" style="margin-top: 20px;">
    <h1 class="heading">Project Coffee   <small>Caffinating y'all since ages ago</small></h1>
  </div>
  <router-outlet></router-outlet>
</div>
<div class="footer">
  <img class="hide-for-small-only" alt="Rezare" src="assets/images/RezareLogo.png">
</div>

