body {
    padding-bottom: 20px;
    background-color: whitesmoke;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar{
    background-color: #873a00;
    border:0px;
}

h1,h2,h3,h4,h5,h6{
    color: #873a00;
}

a, a:visited{
    color: #873a00;
}
a:hover{
    color: #a86e41;
}

.login_holder{
    text-align:center;
    /*background-color:#a2836e;*/
    border-radius: 2em;
    width: 600px;
    margin-left: calc((100% - 50%) / 2);
    min-height: 400px;
    margin-top: calc((100% - 50%) / 3);
    padding-top: 10em;
    padding-bottom: 0em;
    background:url(/content/img/coffeegif2.gif);
    background-size: cover;
}

.login_holder input{
    border: 0px;
    padding: 0.5em;
    margin: 0.5em;
    border-radius: 2px;
    width: 20em;
    color: black;
    background-color: whitesmoke;
}

.login_holder button{
    background-color: sandybrown;
    border: 0px;
    border-radius: 1px;
    padding: 0.5em;
    margin-top:0.5em;
    width: 20em;
}

.login_holder h1, .login_holder h2{
    color: white;
}

.login_logo{
    width: 2em;
    margin-right: 1em;
}
footer {
    border: none;
    position: center;
    bottom: 10;
    right: .5em;
    text-align:right;
}
.footer_logo {
    width: 15em;
    margin-right: .5em;
    margin-left: auto;
}
#drink-selection-holder, #the-dropdown{
    display: inline-block;
}
.coffee-dropdown{
    width: 100%;
    text-align: left;
    background-color: whitesmoke;
    border: 0px;
    border-radius: 1px;
    padding: 1em;
    margin-top:0.5em;
    width: 35em;
}
.user-container {
    text-align: left;
    background-color: whitesmoke;
    border: 0px;
    border-radius: 1px;
    padding: 1em;
    padding-top: calc(1em + 50px);
    margin-top:0.5em;
    width: auto;
    font-size: medium;
    font-family: Arial;
}
.user-table {
    text-align: left;
    background-color: whitesmoke;
    background-size: 40px;
    border: 2em;
    border-radius: 2em;
    padding: 1em;
    margin-top:0.5em;
    width: 35em;
    font-size: medium;
    font-family: Arial;
}
.generate_button {
    text-align: center;
    background-color: sandybrown;
    border: 0px;
    border-radius: 2em;
    padding: 1em;
    margin-top:0.5em;
    width: 30em;  
    font-size: medium;
    font-family: Arial;
}
.next_meeting {
    text-align: center;
    background-color: sandybrown;
    border: 0px;
    border-radius: 2em;
    padding: 1em;
    margin-top:0.5em;
    width: 30em;
    font-size: medium;
    font-family: Arial;
}
.admin_table {
    text-align: center;
    border-radius: 0px 0px 3em 3em;
    padding: 1em;
    padding-bottom: 3em;
    margin-top:0em;
    table-layout: auto;
     font-size: medium;
    font-family: Arial;
    background-color: #e9e3de
}
.coffee_table {
    text-align: left;
    border-radius: 2em;
    padding: 1em;
    margin-top:0em;
    width: 50em;
    table-layout: auto;
    margin-left: 10em;
}

.coffee_table td{
    border: 1px solid #873a00;
    padding: 0em 1em;
}
.coffee_table th{
    padding: 0em 1em;
}

.coffee_headers {
    text-align: left;
    padding: 1em;
    margin-top:0em;
    width: 50em;
    table-layout: auto;
    margin-left: 10em;
}

.secret-click{
    cursor: pointer !important;
    font-style: italic;
    text-decoration:underline;   
    border-radius: 2px;
    -o-transition:color .2s ease-out, background .2s ease-in;
    -ms-transition:color .2s ease-out, background .2s ease-in;
    -moz-transition:color .2s ease-out, background .2s ease-in;
    transition: color .2s ease-out, background .2s ease-in;
}

.secret-click:hover{
    background-color: #873a00;
    color: whitesmoke;
}

hr{
    border: 1px solid #a86e41;
    border-radius: 2px;
}

#generate-report-button{
    font-weight: bold;
    cursor: pointer;
    color:whitesmoke;
    background-color:#873a00;
    border: 4px solid #873a00;
    border-radius: 2px;
    -o-transition:color .2s ease-out;
    -ms-transition:color .2s ease-out;
    -moz-transition:color .2s ease-out;
    transition: color .2s ease-out;
}
#generate-report-button:hover{
    color: sandybrown;
}

#confirm-popup button{
    background-color: #e9e3de;
    border: 1px solid #873a00;
    width: 15em;
    margin-left: calc(50% - 7.5em);
}

.bold{
    font-weight: bold;
}
.lite{
    opacity: 0.65;
}