@{
    ViewBag.Title = "Credits";
}
<h2>@ViewBag.Title.</h2>
<h3>We had some help with a few things</h3>

<p><a href="http://www.freepik.com/free-photos-vectors/coffee">Coffee vector designed by Freepik</a></p>
