<div class="login_holder">
    <h2><img class="login_logo" src="~/Content/img/coffee1.png" alt="Coffee Logo" />Login</h2>
    <form action="/Home/Login" method="POST">
        <input type="text" name="UserName" placeholder="username" autofocus /><br />
        <input type="password" name="Password" placeholder="password" /><br />
        <button>GO!</button>
    </form>
    @*<h2><img class="login_logo" src="~/Content/img/coffee1.png" alt="Coffee Logo" />Login</h2>*@
    <input type="text" placeholder="username" autofocus/><br />
    <input type="password" placeholder="password" /><br />
    <button>GO!</button>
</div>