<div class="login_holder">
    <form action="/Home/Login" method="POST">
        <input type="text" name="username" placeholder="domain username" autofocus /><br />
        <input type="password" name="password" placeholder="domain password" /><br />
        <button>Login!</button>
    </form>
</div>