@model ProjectCoffee.Models.DatabaseModels.Reminder

<div class="reminder-container">
    <h1>
        Good to go <span class="glyphicon glyphicon-thumbs-up"></span>
    </h1>

    <br />

    <h4>Alright, @Model.User.FirstName. We'll make sure you get your @Model.User.Drink.Name on @ViewBag.NextMeeting, whether you've logged in or not.</h4>
</div>
