<div class="list">
    
<h1>Check staff presence in office and order Coffees!</h1>
<div>

  <table style="width:100%">
        <tr>
          <th class="label">Name</th>
          <th class="label">Coffee</th> 
          <th class="label">Notes</th>
          <th class="label">Add to Order?</th>
        </tr>
        <tr>
          <td>Janine</td>
          <td><select name="beverage"><option value="hc">Hot Chocolate</option>
            <option value="fw">Flat White</option>
            <option value="lb">Long Black</option>
            <option value="la">Latte</option>
            <option value="mo">Mochaccino</option>
            <option value="tfw">Trim Flat White</option>
            <option value="ct">Chai Trim</option>
            <option value="ca">Cappachino</option>
            <option value="na">None</option></select></td>
          <td><input type="text" size="30"></td>
          <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Paula</td>
            <td><select name="beverage"><option value="hc">Hot Chocolate</option>
              <option value="fw">Flat White</option>
              <option value="lb">Long Black</option>
              <option value="la">Latte</option>
              <option value="mo">Mochaccino</option>
              <option value="tfw">Trim Flat White</option>
              <option value="ct">Chai Trim</option>
              <option value="ca">Cappachino</option>
              <option value="na">None</option></select></td>
            <td><input type="text" size="30"></td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
            <td>Daniel</td>
            <td><select name="beverage"><option value="hc">Hot Chocolate</option>
              <option value="fw">Flat White</option>
              <option value="lb">Long Black</option>
              <option value="la">Latte</option>
              <option value="mo">Mochaccino</option>
              <option value="tfw">Trim Flat White</option>
              <option value="ct">Chai Trim</option>
              <option value="ca">Cappachino</option>
              <option value="na">None</option></select></td>
            <td><input type="text" size="30"></td>
            <td><input type="checkbox"></td>
        </tr>
        <tr>
                <td>Victor</td>
                <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                  <option value="fw">Flat White</option>
                  <option value="lb">Long Black</option>
                  <option value="la">Latte</option>
                  <option value="mo">Mochaccino</option>
                  <option value="tfw">Trim Flat White</option>
                  <option value="ct">Chai Trim</option>
                  <option value="ca">Cappachino</option>
                  <option value="na">None</option></select></td>
                <td><input type="text" size="30"></td>
                <td><input type="checkbox"></td>
        </tr>
        <tr>
                <td>Vivek</td>
                <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                  <option value="fw">Flat White</option>
                  <option value="lb">Long Black</option>
                  <option value="la">Latte</option>
                  <option value="mo">Mochaccino</option>
                  <option value="tfw">Trim Flat White</option>
                  <option value="ct">Chai Trim</option>
                  <option value="ca">Cappachino</option>
                  <option value="na">None</option></select></td>
                <td><input type="text" size="30"></td>
                <td><input type="checkbox"></td>
        </tr>
        <tr>
                <td>Janine</td>
                <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                  <option value="fw">Flat White</option>
                  <option value="lb">Long Black</option>
                  <option value="la">Latte</option>
                  <option value="mo">Mochaccino</option>
                  <option value="tfw">Trim Flat White</option>
                  <option value="ct">Chai Trim</option>
                  <option value="ca">Cappachino</option>
                  <option value="na">None</option></select></td>
                <td><input type="text" size="30"></td>
                <td><input type="checkbox"></td>
              </tr>
              <tr>
                  <td>Paula</td>
                  <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                    <option value="fw">Flat White</option>
                    <option value="lb">Long Black</option>
                    <option value="la">Latte</option>
                    <option value="mo">Mochaccino</option>
                    <option value="tfw">Trim Flat White</option>
                    <option value="ct">Chai Trim</option>
                    <option value="ca">Cappachino</option>
                    <option value="na">None</option></select></td>
                  <td><input type="text" size="30"></td>
                  <td><input type="checkbox"></td>
              </tr>
              <tr>
                  <td>Daniel</td>
                  <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                    <option value="fw">Flat White</option>
                    <option value="lb">Long Black</option>
                    <option value="la">Latte</option>
                    <option value="mo">Mochaccino</option>
                    <option value="tfw">Trim Flat White</option>
                    <option value="ct">Chai Trim</option>
                    <option value="ca">Cappachino</option>
                    <option value="na">None</option></select></td>
                  <td><input type="text" size="30"></td>
                  <td><input type="checkbox"></td>
              </tr>
              <tr>
                      <td>Victor</td>
                      <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                        <option value="fw">Flat White</option>
                        <option value="lb">Long Black</option>
                        <option value="la">Latte</option>
                        <option value="mo">Mochaccino</option>
                        <option value="tfw">Trim Flat White</option>
                        <option value="ct">Chai Trim</option>
                        <option value="ca">Cappachino</option>
                        <option value="na">None</option></select></td>
                      <td><input type="text" size="30"></td>
                      <td><input type="checkbox"></td>
              </tr>
              <tr>
                      <td>Vivek</td>
                      <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                        <option value="fw">Flat White</option>
                        <option value="lb">Long Black</option>
                        <option value="la">Latte</option>
                        <option value="mo">Mochaccino</option>
                        <option value="tfw">Trim Flat White</option>
                        <option value="ct">Chai Trim</option>
                        <option value="ca">Cappachino</option>
                        <option value="na">None</option></select></td>
                      <td><input type="text" size="30"></td>
                      <td><input type="checkbox"></td>
              </tr>
              <tr>
                    <td>Janine</td>
                    <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                      <option value="fw">Flat White</option>
                      <option value="lb">Long Black</option>
                      <option value="la">Latte</option>
                      <option value="mo">Mochaccino</option>
                      <option value="tfw">Trim Flat White</option>
                      <option value="ct">Chai Trim</option>
                      <option value="ca">Cappachino</option>
                      <option value="na">None</option></select></td>
                    <td><input type="text" size="30"></td>
                    <td><input type="checkbox"></td>
                  </tr>
                  <tr>
                      <td>Paula</td>
                      <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                        <option value="fw">Flat White</option>
                        <option value="lb">Long Black</option>
                        <option value="la">Latte</option>
                        <option value="mo">Mochaccino</option>
                        <option value="tfw">Trim Flat White</option>
                        <option value="ct">Chai Trim</option>
                        <option value="ca">Cappachino</option>
                        <option value="na">None</option></select></td>
                      <td><input type="text" size="30"></td>
                      <td><input type="checkbox"></td>
                  </tr>
                  <tr>
                      <td>Daniel</td>
                      <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                        <option value="fw">Flat White</option>
                        <option value="lb">Long Black</option>
                        <option value="la">Latte</option>
                        <option value="mo">Mochaccino</option>
                        <option value="tfw">Trim Flat White</option>
                        <option value="ct">Chai Trim</option>
                        <option value="ca">Cappachino</option>
                        <option value="na">None</option></select></td>
                      <td><input type="text" size="30"></td>
                      <td><input type="checkbox"></td>
                  </tr>
                  <tr>
                          <td>Victor</td>
                          <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                            <option value="fw">Flat White</option>
                            <option value="lb">Long Black</option>
                            <option value="la">Latte</option>
                            <option value="mo">Mochaccino</option>
                            <option value="tfw">Trim Flat White</option>
                            <option value="ct">Chai Trim</option>
                            <option value="ca">Cappachino</option>
                            <option value="na">None</option></select></td>
                          <td><input type="text" size="30"></td>
                          <td><input type="checkbox"></td>
                  </tr>
                  <tr>
                          <td>Vivek</td>
                          <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                            <option value="fw">Flat White</option>
                            <option value="lb">Long Black</option>
                            <option value="la">Latte</option>
                            <option value="mo">Mochaccino</option>
                            <option value="tfw">Trim Flat White</option>
                            <option value="ct">Chai Trim</option>
                            <option value="ca">Cappachino</option>
                            <option value="na">None</option></select></td>
                          <td><input type="text" size="30"></td>
                          <td><input type="checkbox"></td>
                  </tr>
                  <tr>
                        <td>Janine</td>
                        <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                          <option value="fw">Flat White</option>
                          <option value="lb">Long Black</option>
                          <option value="la">Latte</option>
                          <option value="mo">Mochaccino</option>
                          <option value="tfw">Trim Flat White</option>
                          <option value="ct">Chai Trim</option>
                          <option value="ca">Cappachino</option>
                          <option value="na">None</option></select></td>
                        <td><input type="text" size="30"></td>
                        <td><input type="checkbox"></td>
                      </tr>
                      <tr>
                          <td>Paula</td>
                          <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                            <option value="fw">Flat White</option>
                            <option value="lb">Long Black</option>
                            <option value="la">Latte</option>
                            <option value="mo">Mochaccino</option>
                            <option value="tfw">Trim Flat White</option>
                            <option value="ct">Chai Trim</option>
                            <option value="ca">Cappachino</option>
                            <option value="na">None</option></select></td>
                          <td><input type="text" size="30"></td>
                          <td><input type="checkbox"></td>
                      </tr>
                      <tr>
                          <td>Daniel</td>
                          <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                            <option value="fw">Flat White</option>
                            <option value="lb">Long Black</option>
                            <option value="la">Latte</option>
                            <option value="mo">Mochaccino</option>
                            <option value="tfw">Trim Flat White</option>
                            <option value="ct">Chai Trim</option>
                            <option value="ca">Cappachino</option>
                            <option value="na">None</option></select></td>
                          <td><input type="text" size="30"></td>
                          <td><input type="checkbox"></td>
                      </tr>
                      <tr>
                              <td>Victor</td>
                              <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                                <option value="fw">Flat White</option>
                                <option value="lb">Long Black</option>
                                <option value="la">Latte</option>
                                <option value="mo">Mochaccino</option>
                                <option value="tfw">Trim Flat White</option>
                                <option value="ct">Chai Trim</option>
                                <option value="ca">Cappachino</option>
                                <option value="na">None</option></select></td>
                              <td><input type="text" size="30"></td>
                              <td><input type="checkbox"></td>
                      </tr>
                      <tr>
                              <td>Vivek</td>
                              <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                                <option value="fw">Flat White</option>
                                <option value="lb">Long Black</option>
                                <option value="la">Latte</option>
                                <option value="mo">Mochaccino</option>
                                <option value="tfw">Trim Flat White</option>
                                <option value="ct">Chai Trim</option>
                                <option value="ca">Cappachino</option>
                                <option value="na">None</option></select></td>
                              <td><input type="text" size="30"></td>
                              <td><input type="checkbox"></td>
                      </tr>
                      <tr>
                            <td>Janine</td>
                            <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                              <option value="fw">Flat White</option>
                              <option value="lb">Long Black</option>
                              <option value="la">Latte</option>
                              <option value="mo">Mochaccino</option>
                              <option value="tfw">Trim Flat White</option>
                              <option value="ct">Chai Trim</option>
                              <option value="ca">Cappachino</option>
                              <option value="na">None</option></select></td>
                            <td><input type="text" size="30"></td>
                            <td><input type="checkbox"></td>
                          </tr>
                          <tr>
                              <td>Paula</td>
                              <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                                <option value="fw">Flat White</option>
                                <option value="lb">Long Black</option>
                                <option value="la">Latte</option>
                                <option value="mo">Mochaccino</option>
                                <option value="tfw">Trim Flat White</option>
                                <option value="ct">Chai Trim</option>
                                <option value="ca">Cappachino</option>
                                <option value="na">None</option></select></td>
                              <td><input type="text" size="30"></td>
                              <td><input type="checkbox"></td>
                          </tr>
                          <tr>
                              <td>Daniel</td>
                              <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                                <option value="fw">Flat White</option>
                                <option value="lb">Long Black</option>
                                <option value="la">Latte</option>
                                <option value="mo">Mochaccino</option>
                                <option value="tfw">Trim Flat White</option>
                                <option value="ct">Chai Trim</option>
                                <option value="ca">Cappachino</option>
                                <option value="na">None</option></select></td>
                              <td><input type="text" size="30"></td>
                              <td><input type="checkbox"></td>
                          </tr>
                          <tr>
                                  <td>Victor</td>
                                  <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                                    <option value="fw">Flat White</option>
                                    <option value="lb">Long Black</option>
                                    <option value="la">Latte</option>
                                    <option value="mo">Mochaccino</option>
                                    <option value="tfw">Trim Flat White</option>
                                    <option value="ct">Chai Trim</option>
                                    <option value="ca">Cappachino</option>
                                    <option value="na">None</option></select></td>
                                  <td><input type="text" size="30"></td>
                                  <td><input type="checkbox"></td>
                          </tr>
                          <tr>
                                  <td>Vivek</td>
                                  <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                                    <option value="fw">Flat White</option>
                                    <option value="lb">Long Black</option>
                                    <option value="la">Latte</option>
                                    <option value="mo">Mochaccino</option>
                                    <option value="tfw">Trim Flat White</option>
                                    <option value="ct">Chai Trim</option>
                                    <option value="ca">Cappachino</option>
                                    <option value="na">None</option></select></td>
                                  <td><input type="text" size="30"></td>
                                  <td><input type="checkbox"></td>
                          </tr>
                          <tr>
                                <td>Janine</td>
                                <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                                  <option value="fw">Flat White</option>
                                  <option value="lb">Long Black</option>
                                  <option value="la">Latte</option>
                                  <option value="mo">Mochaccino</option>
                                  <option value="tfw">Trim Flat White</option>
                                  <option value="ct">Chai Trim</option>
                                  <option value="ca">Cappachino</option>
                                  <option value="na">None</option></select></td>
                                <td><input type="text" size="30"></td>
                                <td><input type="checkbox"></td>
                              </tr>
                              <tr>
                                  <td>Paula</td>
                                  <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                                    <option value="fw">Flat White</option>
                                    <option value="lb">Long Black</option>
                                    <option value="la">Latte</option>
                                    <option value="mo">Mochaccino</option>
                                    <option value="tfw">Trim Flat White</option>
                                    <option value="ct">Chai Trim</option>
                                    <option value="ca">Cappachino</option>
                                    <option value="na">None</option></select></td>
                                  <td><input type="text" size="30"></td>
                                  <td><input type="checkbox"></td>
                              </tr>
                              <tr>
                                  <td>Daniel</td>
                                  <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                                    <option value="fw">Flat White</option>
                                    <option value="lb">Long Black</option>
                                    <option value="la">Latte</option>
                                    <option value="mo">Mochaccino</option>
                                    <option value="tfw">Trim Flat White</option>
                                    <option value="ct">Chai Trim</option>
                                    <option value="ca">Cappachino</option>
                                    <option value="na">None</option></select></td>
                                  <td><input type="text" size="30"></td>
                                  <td><input type="checkbox"></td>
                              </tr>
                              <tr>
                                      <td>Victor</td>
                                      <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                                        <option value="fw">Flat White</option>
                                        <option value="lb">Long Black</option>
                                        <option value="la">Latte</option>
                                        <option value="mo">Mochaccino</option>
                                        <option value="tfw">Trim Flat White</option>
                                        <option value="ct">Chai Trim</option>
                                        <option value="ca">Cappachino</option>
                                        <option value="na">None</option></select></td>
                                      <td><input type="text" size="30"></td>
                                      <td><input type="checkbox"></td>
                              </tr>
                              <tr>
                                      <td>Vivek</td>
                                      <td><select name="beverage"><option value="hc">Hot Chocolate</option>
                                        <option value="fw">Flat White</option>
                                        <option value="lb">Long Black</option>
                                        <option value="la">Latte</option>
                                        <option value="mo">Mochaccino</option>
                                        <option value="tfw">Trim Flat White</option>
                                        <option value="ct">Chai Trim</option>
                                        <option value="ca">Cappachino</option>
                                        <option value="na">None</option></select></td>
                                      <td><input type="text" size="30"></td>
                                      <td><input type="checkbox"></td>
                              </tr>
      </table>  
    </div>
</div>