/* You can add global styles to this file, and also import other style files */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
  }
  h1 {
      color:white;
      font-weight: bold;
  }
  
.selectcoffee{
    display: inline-block;
}
   
 
 
  