/* You can add global styles to this file, and also import other style files */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
  }
  h1 {
      color:white;
      
  }

.selectcoffee{
    display: inline-block;
    padding: 10px;
}

logo {
@media (min-width: 601px){
width:20px;}
}
@media screen and (max-width:40em) {
    .hide-for-small-only {
        display: none;
    }
    .back {
        width:100%;
       
    }

    .heading{
        display: none;
    }
}
.heading{
    font-family: 'Pacifico', serif;
}

.label {
    font-family: 'Signika', serif;
    font-size: 20px;
  }
  
  .extra{
      padding-left: 10px;
  }

  .w3-display-topmiddle{
    margin-top: 20px;
  }

  .w3-display {
    margin-top: 20px;
  }

  .w3-display-middle{
    margin-top: 20px;
  }
  .list{
    position: absolute;
    left: 50%;
    top: 20%;
    transform: translate(-50%, 0%)
        
  }
  .back{
    position: fixed;
  }

 .w3-bar{
     position: fixed;
 }


 
 
  