<div class="w3-display-middle">
<div>
    <h2 class="w3-full">
      Hey {{name}}<br />Pick a drink to for your dopamine hit!
    </h2>
    <div class="w3-half selectcoffee w3-container label">Select your coffee</div>
    <div class="w3-half selectcoffee w3-container">
        <select class="w3-select" style="width:200px;">
        <option *ngFor="let coffee of coffeeList">
          {{coffee.name}}
        </option>
      </select>
      </div>
    </div>
    <div>
      <div class="w3-half selectcoffee w3-container label">Select your cup size</div>
      <div class="w3-half selectcoffee w3-container">
          <select class="w3-select" style="width:200px;" [(ngModel)]="selectedCupSize" >
          <option *ngFor="let cup of cupSize" [value]="cup.code" [selected]="cup.code == selectedCupSize">
            {{cup.name}}
          </option>
        </select>
      </div>
    </div>
    <div>
      <div class="w3-half selectcoffee w3-container label">Select your milk</div>
      <div class="w3-half selectcoffee w3-container">
          <select class="w3-select" style="width:200px;">
          <option *ngFor="let milk of milkType">
            {{milk.name}}
          </option>
        </select>
      </div>
    </div>
    <div>&nbsp;</div>                   
  <div>
        <div class="w3-container">
          <div class="w3-row" *ngFor="let extra of extras" id="extra-{{extra.code}}">
            <div class="w3-col s2">
              <button (click)="decrementExtra(extra.code)">
                <i class="material-icons">remove_circle_outline</i>
              </button>
            </div>
            <div class="w3-col s9">
              <input type="text" maxlength="1" class="extra-count" value="{{extra.count}}" />
              <span class="extra label">{{extra.name}}</span>
            </div>
            <div class="w3-col s1">
              <button (click)="incrementExtra(extra.code)">
                <i class="material-icons">add_circle_outline</i>
              </button>
            </div>
          </div>
        </div>
  </div>

</div>     
